/* Contenedor principal */
.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header del chat */
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid #ddd;
  gap: 5px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.703);
}

.status {
  display: flex;
  align-items: center;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(2, 235, 2);
  border-radius: 50%;
  margin-right: 5px;
}

.status-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.703);
}

/* CHAT */
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Contenedor del chat siempre visible */
.chat-container {
  width: 100%;
  height: calc(100vh - 277px); /* Ajustar altura para incluir el header */
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

/* Área de los mensajes */
.chat-box {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Caja de entrada y botón */
.input-box {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  position: relative;
}

.input-box input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;
  color: black;
  width: 100%;
}

/* Botón de enviar */
.input-box button {
  padding: 10px;
  border: none;
  background-color: rgb(135, 97, 155);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Ajustes para los mensajes */
.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.avatar {
  font-size: 30px;
  margin-right: 10px;
}

.message-text {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  word-wrap: break-word;
  display: inline-block;
}

.message.user-message {
  justify-content: flex-end;
}

.user-message .message-text {
  background-color: rgb(135, 97, 155);
  border-radius: 15px 15px 0 15px;
  margin-left: 10px;
  color: white !important;
}

.bot-message .message-text {
  background-color: #7d7d7d;
  text-align: left;
  border-radius: 15px 15px 15px 0;
  margin-right: 10px;
  color: white !important;
}

/* Footer */

.footer-custom-background-color {
  background-color: #343a40; /* Color oscuro */
}

.footer-custom-text-color {
  color: #f8f9fa; /* Color claro */
}

.background-ws {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  bottom: 40px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 38px;
  line-height: 58px;
  margin: 0 20px;
  text-align: center;
  background-color: #4dc247;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: box-shadow 2s, transform 250ms, filter 250ms ease-in-out;
}

.background-ws:hover {
  transform: scale(1.1);
}

.background-ws a {
  color: white;
}

/* Estilo para el mensaje de 'Pensando...' */
.message.bot-message .message-text.thinking {
  background-color: #f0ad4e; /* Color amarillo para indicar que está pensando */
  color: black !important;
  font-style: italic;
  text-align: center;
}
